<header class="cabecalho">
    <div class="caixa">
        <h1><img src="{{ '/assets/imgs/' + src }}" alt="{{ alt }}"></h1>
        <nav class="menu">
            <ul>
                <li class="menu__itens"><a class="menu__itens__links" href="./index.html">Home</a></li>
                <li class="menu__itens"><a class="menu__itens__links" href="./produtos.html">Produtos</a></li>
                <li class="menu__itens"><a class="menu__itens__links" href="./contato.html">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>
