<div class="card">
    <ul>
      <li>Cabelo</li>
      <li><img src="../../assets/imgs/cabelo.jpg" alt=""></li>
      <li>Na tesoura ou máquina, como o cliente preferir</li>
      <li>R$ 25,00</li>
    </ul>
    <button class="btn btn-primary">teste</button>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Dropdown
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Ação 1</a>
        <a class="dropdown-item" href="#">Ação 2</a>
        <a class="dropdown-item" href="#">Ação 3</a>
      </div>
    </div>
</div>
