<div class="subtitulo__conteudo">
  <h2 class="subtitulo">Produtos</h2>
</div>
<div class="wrapper__products">
  <app-product-card
      title="Cabelo"
      img="cabelo.jpg"
      alt="Imagem ilustrando um corte de cabelo masculino"
      text="Na tesoura ou na máquina, como o cliente preferir"
      price="R$ 25,00"
  ></app-product-card>
  <app-product-card
      title="Barba"
      img="barba.jpg"
      alt="Imagem ilustrando um corte de barba"
      text="Corte e desenho profissional da barba"
      price="R$ 18,00"
  ></app-product-card>
  <app-product-card
      title="Cabelo + Barba"
      img="cabelo+barba.jpg"
      alt="Imagem ilustrando um corte de cabelo e barba"
      text="Pacote completo de cabelo e barba"
      price="R$ 35,00"
  ></app-product-card>
</div>
