<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-header
      src="logo.png"
      alt="Logo tipo principal da barbearia"
  ></app-header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <app-footer
      src="logo-branco.png"
      alt="Logo branco da Barbearia Alura"
  ></app-footer>
</body>
</html>
