.principal {
  width: 940px;
  margin: 0 auto;
  padding: 3em 0;
  background: #FEFEFE;
}

p {
  margin-bottom: 1em;
  font-size: 20px;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.itens {
  line-height: 2;
}

.itens:first-child {
  font-weight: bold;
}

.itens:before {
  content: "⭐ ";
}

.beneficios {
  background-color: #FFFFFF;
  padding: 20px;
  background: #888888 ;
}

.imagem-utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.mapa {
  padding: 3em 0;
  background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
  width: 940px;
  margin: 0 auto;
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.beneficios {
  padding: 3em 0;
}

.conteudo-beneficios {
  width: 640px;
  margin: 0 auto;
}

.lista-beneficios {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.imagem-beneficios {
  width: 60%;
  opacity: 1;
  transition: 0.5s;
  box-shadow: 10px 10px 10px #000000;
}

.imagem-beneficios:hover {
  opacity: 0.5;
}

.video {
  width: 560px;
  margin: 2em auto;
}

@media screen and (max-width: 380px) {
  .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
      width: auto;
  }

  h1 {
      text-align: center;
  }

  nav {
      position: static;
  }

  .lista-beneficios, .imagem-beneficios {
      width: 100%;
  }
}
